.AuthForm-Container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AuthForm-Input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border-radius: 30px;
  background-color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

.AuthForm-OnSubmit {
  max-width: 100px;
  width: 100%;
  padding: 8px;
  border-radius: 30px;
  background-color: white;
  margin-bottom: 10px;
  font-size: 15px;
  color: black;
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.AuthForm-Switch {
  cursor: pointer;
  color: #04aaff;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 15px;
  text-decoration: underline;
}

.AuthForm-Error {
  color: #ee5253;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 15px;
}
